/* Hero Section: Style Start*/
.cs__hero-wrap{
    position: relative;
    margin-bottom: 200px;
}
.cs__hero-sec {
    background-color: var(--orange);
    padding: 62px 0 0;
    z-index: 1;
    overflow: hidden;
}
.cs__hero-sec h2{
    font-weight: 600;
}
.cs__hero-sec p {
    line-height: 36px;
}
.cs__hero-bottomsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}

/* Hero Section: Style End */

/* Who We Are : Style Start */
.cs__aboutcolum-content p{
column-count: 2;
}
.cs__who-sec {
    overflow: hidden;
}
.cs__partner-block {
    background-color: var(--medium-black);
    padding: 15px 0;
}
.cs__who-wrap {
    padding: 26px 0 60px;
}
.cs__who-wrap:before, .cs__who-wrap:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 120px 170px 120px;
    border-color: transparent transparent rgba(237, 99, 43, 0.05) transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: -75px;
}
.cs__who-wrap:after {
    top: 50px;
    right: -75px;
    left: auto;
    bottom: auto;
}

/* Who We Are : Style End */

/* Our Mission - Vision : Style Start */
.cs__mv-sec {
    background-color: var(--light-pink);
}
.cs__mv-bg{
    position: relative;
    height: 100%;
}
.cs__mv-bg:before {
    background-color: var(--orange);
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: auto;
    top: 0;
    z-index: 0;
    right: auto;
}
.cs__mv-bg.cs__vision-sec:before {
    right: 0;
    left: auto;
}
.cs__content-block {
    z-index: 1;
    padding: 40px 40px 40px 0;
}
.cs__mv-sec p {
    font-size: 22px;
    line-height: 38px;
}
.cs__mv-sec .cs__img-block img {
    max-width: 400px;
    margin: 0 auto;
}
.cs__mv-bg .container{
    z-index: 0;
    position: relative;
}
.cs__vision-sec .cs__content-block {
    padding: 40px 0 40px 40px;
}
.cs__mv-wrap{
    overflow: hidden;
}
/* Our Mission - Vision : Style Start */

/* Core Values : Style Start */
.cs__corevalue-details h4 {
    color: var(--orange);
    margin: 0 0 0 18px;
}
.cs__corevalue-details p {
    font-size: 22px;
    line-height: 44px;
}
.cs__corevalue-details {
    padding: 30px;
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
}
.cs__corevalue-desc.cs__crest p {
    margin-bottom: 0;
}
.cs__corevalue-sec .cs__paragraph-text {
    margin-bottom: 38px;
}
.cs__corevalue-sec {
    padding: 60px 0 40px;
}

/* Core Values : Style End */

/* Project Section: Style Start */
.cs__project-sec {
    background-color: var(--medium-black);
    padding: 30px 0;
}
.cs__project-sec p {
    font-size: 30px;
    line-height: 48px;
    font-weight: 500;
    margin: 26px 0;
}
/* Project Section: Style End */