/* Hero Section: Style Start*/
.cs__hero-wrap{
    position: relative;
    margin-bottom: 200px;
}
.cs__hero-sec {
    background-color: var(--orange);
    padding: 62px 0 0;
    z-index: 1;
    overflow: hidden;
}
.cs__hero-sec h2{
    font-weight: 600;
}
.cs__hero-sec p {
    line-height: 36px;
}
.cs__hero-borromsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}
/* Responsive : Style Start */
@media (min-width:1950px){
    .cs__hero-borromsec {
        bottom: -255px;
    }
}
@media (max-width:1199.98px){
    .cs__hero-borromsec {
        bottom: -108px;
    }
    .cs__hero-wrap {
        margin-bottom: 140px;
    }
}
@media (max-width:991.98px){
    .cs__hero-wrap {
        margin-bottom: 32px;
    }
    .cs__hero-wrap .cs__img-block img {
        max-width: 450px;
    }
    .cs__hero-wrap .cs__img-block {
        text-align: center;
    }
    .cs__hero-sec h2{
        font-size: 32px;
        line-height: 40px;
    }
    .cs__hero-sec .row {
        flex-direction: column-reverse;
    }
}
@media (max-width:767.98px){
    .cs__hero-borromsec {
        bottom: -62px;
    }
    .cs__hero-sec {
        padding: 30px 0 0;
    }
    .cs__hero-sec p{
        line-height: 26px;
    }
}
@media (max-width: 360.98px){
    .cs__hero-borromsec {
        bottom: -52px;
    }
}
/* Responsive : Style End */
/* Hero Section: Style End */

/* Who We Are : Style Start */
.cs__who-sec {
    overflow: hidden;
}
.cs__partner-block {
    background-color: var(--medium-black);
    padding: 15px 0;
}
.cs__who-wrap {
    padding: 26px 0 60px;
}
.cs__who-wrap:before, .cs__who-wrap:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 120px 170px 120px;
    border-color: transparent transparent rgba(237, 99, 43, 0.05) transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: -75px;
}
.cs__who-wrap:after {
    top: 50px;
    right: -75px;
    left: auto;
    bottom: auto;
}
@media (max-width:991.98px){
    .cs__who-wrap {
        padding: 100px 0 20px;
    }
}
@media (max-width:767.98px){
    .cs__partner-block {
        padding: 15px 0;
    }
    .cs__who-wrap {
        padding: 70px 0 20px;
    }
}
/* Who We Are : Style End */

/* Our Mission - Vision : Style Start */
.cs__mv-sec {
    background-color: var(--light-pink);
}
.cs__mv-bg{
    position: relative;
    height: 100%;
}
.cs__mv-bg:before {
    background-color: var(--orange);
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: auto;
    top: 0;
    z-index: 0;
    right: auto;
}
.cs__mv-bg.cs__vision-sec:before {
    right: 0;
    left: auto;
}
.cs__content-block {
    z-index: 1;
    padding: 40px 40px 40px 0;
}
.cs__mv-sec p {
    font-size: 22px;
    line-height: 38px;
}
.cs__mv-sec .cs__img-block img {
    max-width: 400px;
    margin: 0 auto;
}
.cs__mv-bg .container{
    z-index: 0;
    position: relative;
}
.cs__vision-sec .cs__content-block {
    padding: 40px 0 40px 40px;
}
.cs__mv-wrap{
    overflow: hidden;
}
/* Responsive : Style Start */

@media (max-width:991.98px){
    .cs__vision-sec .row {
        flex-direction: column-reverse;
    }
    .cs__mv-sec .cs__img-block img {
        max-width: 340px;
    }
    .cs__mv-bg:before {
       content: none;
    }
    .cs__mv-sec .cs__content-block {
        background-color: var(--orange);
        margin: 0 -40px;
        padding: 28px 40px 40px;
    }
}
@media (max-width:767px){
    .cs__mv-sec .cs__content-block{
        margin: 0 -20px;
        padding: 28px 20px;
    }
    .cs__mv-sec p {
        font-size: 16px;
        line-height: 26px;
    }
}
/* Responsive : Style End */
/* Our Mission - Vision : Style Start */

/* Core Values : Style Start */
.cs__corevalue-details h4 {
    color: var(--orange);
    margin: 0 0 0 18px;
}
.cs__corevalue-details p {
    font-size: 22px;
    line-height: 44px;
}
.cs__corevalue-details {
    padding: 30px;
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
}
.cs__corevalue-desc.cs__crest p {
    margin-bottom: 0;
}
.cs__corevalue-sec .cs__paragraph-text {
    margin-bottom: 38px;
}
.cs__corevalue-sec {
    padding: 60px 0 40px;
}
/* Responsive : Style strat */
@media (max-width: 1199.98px){   
    .cs__corevalue-details p {
        font-size: 20px;
        line-height: 32px;
    }
    .cs__corevalue-details img {
        width: 45px;
        height: 45px;
    }
    .cs__corevalue-details h4 {
        font-size: 28px;
    }
    .cs__corevalue-details .cs__title-wrap {
        margin-bottom: 14px !important;
    }
    .cs__corevalue-details {
        padding: 20px;
    }
}
@media (max-width:991px){
    .cs__corevalue-sec {
        padding: 40px 0 20px;
    }
}
@media (max-width:767.98px){
    .cs__corevalue-wrap > div {
        width: 50%;
    }
    .cs__corevalue-details {
        padding: 12px 24px;
    }
    .cs__corevalue-details p {
        font-size: 16px;
        line-height: 26px;
    }
}
@media (max-width:600.98px){
    .cs__corevalue-wrap > div {
        width: 100%;
    }
}
/* Responsive: Style End */
/* Core Values : Style End */
/* Company Details Section: Style Start */
.cs__details-block h3,.cs__details-block span {
    font-size: 56px;
    font-weight: 700;
    margin: 0 0 0 16px;
}
.cs__details-block span{
    margin: 0;
    line-height: normal;
}
.cs__company-details p {
    font-size: 26px;
    font-weight: 600;
    margin: 8px 0 0;
}
.cs__company-details {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--medium-black);
    padding: 68px 0;
}
.cs__company-details:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: #ed632b transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    left: 0;
    top: 0;
}
.cs__company-details:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #ED632B transparent;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
}
.cs__company-details .container {
    z-index: 1;
}
.cs__details-block .cs__img-block img {
    width: 100%;
    height: 100%;
}
.cs__details-block .cs__img-block {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 100px;
}
.cs__details-block {
    padding-left: 65px;
}
.cs__counter-block {
    min-height: 68px;
    line-height: 68px;
}
.cs__company-inner > div:first-child  .cs__img-block {
    left: 132px;
}
.cs__company-inner > div:first-child .cs__details-block {
    padding-left: 68px; 
}
/* Responsive : Style Start */
@media (max-width: 1399.98px){
    .cs__company-inner > div:first-child  .cs__img-block {
        left: 110px;
    }
    .cs__details-block .cs__img-block {
        left: 70px;
    }
}
@media (max-width: 1199.98px){
    .cs__details-block .cs__img-block {
        left: 38px;
    }
    .cs__details-block {
        padding-left: 55px;
    }
    .cs__company-inner > div:first-child  .cs__img-block {
        left: 80px;
    }
}
@media(max-width:1024.98px){
    .cs__company-details p {
        font-size: 24px;
    }
    .cs__company-details:before {
        border-width: 160px 160px 0 0;
    }
    .cs__company-details:after {
        border-width: 0 0 160px 160px;
    }
}
@media (max-width:991.98px){
    .cs__company-details p {
        margin: 0;
    }
    .cs__company-details .row > div:last-child {
        border-bottom: 0;
    }
    .cs__company-details .row {
        max-width: 60%;
        margin: 0 auto;
    }
    .cs__company-details .row > div {
        border-bottom: 1px solid rgb(236 97 52 / 36%);
        padding: 18px 0;
    }
    .cs__company-details {
        padding: 32px 0;
    }
    .cs__details-block .cs__img-block{
        position: unset;
    }
    .cs__details-block {
        padding-left: 0 !important;
    }
    .cs__counter-block {
        width: 100%;
        margin: 4px 0 0;
    }
    .cs__details-block h3{
        margin: 0;
    }
}
@media (max-width:767.98px){
    .cs__company-details .row {
        max-width: 100%;
    }
    .cs__details-block h3 {
        font-size: 45px;
    }
}
/* Responsive : Style End */
/* Company Details Section: Style End */

/* Technologies Section: Style Start */
.cs__technologies-block button {
    font-size: 26px;
    color: var(--black);
    padding: 14px 53px;
}
.cs__technologies-block .nav-tabs .nav-link {
    transition: all 0.2s ease-in-out;
}
.cs__technologies-block .nav-tabs {
    border-bottom: 1px solid #E5E5E5;
    justify-content: center;
    flex-wrap: nowrap;
}
.cs__technologies-block .cs__tech-block {
    padding: 26px 32px;
}
.cs__technologies-block .tab-pane p {
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
    margin: 8px 0 0;
}
.cs__technologies-block .nav-tabs .nav-link.active:before {
    content: '';
    position: absolute;
    background-color: var(--orange);
    height: 4px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
.cs__technologies-block .nav-tabs .nav-link.active {
    color: var(--orange);
    font-weight: 600;
}
.cs__technologies-block .nav-tabs .nav-link:hover{
    color: var(--orange);
}
.cs__technologies-block .tab-content {
    margin: 30px 0 0;
}
.cs__technologies-block {
    margin: 40px 0 0;
}
.cs__technologies-sec {
    padding: 60px 0;
}
.cs__tech-block-wrapper,.cs__tech-block-wrapper .cs__tech-block{
    position: relative;
}
.cs__tech-block-wrapper:after,.cs__tech-block-wrapper:before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255, 255, 255, 0) 50%, #fff 100%);
    background-image: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 50%, #fff 100%);
    z-index: 1;
}
.cs__tech-block-wrapper:before{
    background-image: -webkit-linear-gradient(left, #fff 0%, rgba(255, 255, 255, 0) 50%, #fff 100%);
    background-image: linear-gradient(right, #fff 0%, rgba(255, 255, 255, 0) 50%, #fff 100%);
}
.cs__tech-block-wrapper .cs__tech-block:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-right: 1px solid #929292;
    border-bottom: 1px solid #929292;
}
.cs__tech-logowrap{
    position: relative;
    z-index: 2;
}
.cs__tech-logowrap .cs__img-block {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
.cs__tech-logowrap .cs__img-block img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Responsive: Style Start */
@media (max-width:1199.98px){
    .cs__technologies-block button {
        padding: 14px 40px;
    }
}
@media (max-width:991.98px){
    .cs__technologies-block button {
        padding: 14px 24px;
        font-size: 22px;
    }
    .cs__technologies-sec{
        padding: 40px 0;
    }
}
@media (max-width:767.98px){
     .cs__technologies-block .cs__tech-block {
        padding: 12px;
    }
    .cs__technologies-block .tab-pane p {
        font-size: 16px;
    }
  
    ::-webkit-scrollbar {
        display: none;
    }
    .cs__technologies-sec {
        padding: 40px 0;
        overflow: hidden;
    }
    .cs__tech-logowrap .cs__img-block {
        width: 100px;
        height: 100px;
    }
}
@media (max-width:600.98px){
    .cs__technologies-block .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        margin: 0 -20px;
        justify-content: flex-start;
    }
}
/* Responsive: Style End */
/* Technologies Section: Style End */
/* Project Section: Style Start */
.cs__project-sec {
    background-color: var(--medium-black);
    padding: 30px 0;
}
.cs__project-sec p {
    font-size: 30px;
    line-height: 48px;
    font-weight: 500;
    margin: 26px 0;
}
/* Responsive : Style Start */
@media (max-width: 991.98px){
    .cs__project-sec p {
        font-size: 22px;
        line-height: 36px;
    }
}
/* Responisve : Style End */
/* Project Section: Style End */

/* testimonial Section: Style Start */
.cs__testimonial-slider {
    padding: 70px 11px 55px;
}
.cs__testimonial-sec {
    background-color: var(--light-pink);
    padding: 60px 0;
}
.cs__testimonial-inner H3 {
    font-size: 24px;
    line-height: 32px;
}
.cs__testimonial-inner {box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 0px;border-radius: 20px;padding: 20px 30px 100px;background-color: #ffffff;height: 100%;}
.cs__client-img {
    border: 4px solid #ED632B;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    text-align: center;
    margin: -75px auto 0;
    background-color: #fadbcf;
}
.cs__client-img img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cs__rating-block {
    margin: 8px 0;
}
.cs__testimonial-inner p {
    font-size: 18px;
    line-height: 32px;
    margin: 0 auto 36px;
}
.cs__client-info {
    background-color: var(--orange);
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 23px 16px;
}
.cs__client-info h6 {
    font-size: 22px;
    margin: 0 0 4px;
}
.cs__client-info p {
    margin-bottom: 0;
}
.cs__testimonial-sec .swiper-button-next {
    right: -45px;
}
.cs__testimonial-sec .swiper-button-prev {
    left: -45px;
}
.cs__testimonial-sec .swiper-button-next,.cs__testimonial-sec  .swiper-button-prev {
    background-color: var(--medium-black);
    width: 44px;
    height: 44px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    top: 67%;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}
.cs__testimonial-sec .swiper-button-next:hover,.cs__testimonial-sec  .swiper-button-prev:hover{
    background-color: var(--orange);
    transition: all 0.2s ease-in-out;
}
.cs__testimonial-sec .swiper-button-next:after, .cs__testimonial-sec .swiper-button-prev:after {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.cs__testimonial-sec .swiper-slide {
    height: auto;
}
.cs__testimonial-sec .swiper-paginationtest {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0 !important;
    position: absolute;
    text-align: center;
}
.cs__testimonial-sec .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #F7BEA7;
    opacity: 1 !important;
    z-index: 1;
    position: relative;
}
.cs__testimonial-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--orange);
    border-color: var(--orange);
}
.cs__client-info span {
    padding-left: 5px;
}
/* Responsive: Style Start */
@media (max-width:1650.98px){
    .cs__testimonial-sec .swiper-button-next {
        right: -28px;
    }
    .cs__testimonial-sec .swiper-button-prev {
        left: -28px;
    }
}
@media (max-width:1399.98px){
    .cs__testimonial-inner {
        padding: 20px 20px 115px;
    }
}
@media (max-width: 1250.98px){
    .cs__testimonial-sec .swiper-button-next {
        right: -20px;
    }
    .cs__testimonial-sec .swiper-button-prev {
        left: -20px;
    }
    .cs__testimonial-slider {
        padding: 70px 25px 45px;
    }
}
@media (max-width: 991.98px){
    .cs__testimonial-inner {
        padding: 20px 10px 115px;
    }
    .cs__testimonial-sec .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .cs__testimonial-sec{
        padding: 40px 0;
    }
    .cs__testimonial-inner p {
        margin: 0 auto 12px;
    }
    .cs__testimonial-inner H3 {
        font-size: 20px;
        line-height: 25px;
    }
}
@media (max-width: 767.98px){
    .cs__testimonial-slider {
        padding: 70px 0 45px;
    }
    .cs__client-img {
        width: 100px;
        height: 100px;
    }
    .cs__testimonial-inner p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 12px;
    }
}
@media (max-width:360.98px){
    .cs__testimonial-inner {
        padding: 20px 10px 140px;
    }
}
/* Responsive: Style End */
/* testimonial Section: Style End */

/* Contact : Block Start */
.cs__contact-sec:before {
    content: '';
    position: absolute;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.cs__contact-sec {
    padding: 60px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cs__contact-info,.cs__contact-form {
    background-color: var(--white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 30px;
}

.cs__contact-info h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    margin: 0 0 0 10px;
}

.cs__contact-info .cs__img-block {
    background-color: var(--orange);
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.cs__contact-info  .cs__desc {
    width: calc(100% - 60px);
    padding: 0 0 0 16px;
}

.cs__contact-info .cs__desc p {
    color: var(--medium-black);
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    margin: 0;
}
.cs__contact-info {
    height: 100%;
}
.cs__map-block iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 12px;
}
.cs__map-block {
    height: calc(100% - 214px);
    border-radius: 12px;
    border: 2px solid  #D6D6D6;
    width: 100%;
}
.cs__contact-info .cs__title-wrap {
    margin: 0 0 24px;
}
.cs__contact-form h4 {
    font-size: 28px;
    font-weight: 600;
}

.cs__contact-form label {
    color: #38414A;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    padding: 0 0 8px;
    width: 100%;
}

.cs__contact-form label span {
    color: #D80027;
}

.cs__contact-form input, .cs__contact-form textarea {
    border: 1px solid #D6D6D6;
    height: 44px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 8px;
    color: var(--medium-black);
    text-align: left;
}
.cs__contact-form input::placeholder,
.cs__contact-form textarea::placeholder{
    color: #D2D2D2;
}
.cs__contact-form textarea {
    height: auto;
    color: #D2D2D2;
    padding: 8px;
}
.cs__contact-inner > div:first-child {
    margin: 0 0 30px;
}
.cs__contact-form .cs__input-wrap {
    margin: 15px 0;
    width: 100%;
}
.cs__contact-link a {
    color: var(--orange);
}
.cs__contact-link {
    margin: 30px 0 0;
    font-size: 30px;
    font-weight: 500;
    word-break: break-word;
}
/* Responsive : Style Start */
@media (max-width: 1399.98px){
    .cs__map-block {
        height: calc(100% - 245px);
    }
}
@media (max-width:1199.98px){
    .cs__contact-info .cs__desc p {
        font-size: 15px;
        line-height: 32px;
    }
}
@media (max-width:991.98px){
    .cs__contact-inner > div:first-child {
        margin: 0 0 20px;
    }
    .cs__contact-form {
        margin: 30px 0 0;
    }
    .cs__contact-info .cs__img-block {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }
    .cs__contact-info  .cs__desc {
        width: calc(100% - 38px);
        padding: 0 0 0 12px;
        display: inline-block;
        vertical-align: top;
    }
    .cs__contact-info .cs__img-block img {
        max-width: 20px;
    }
    .cs__contact-form .cs__input-wrap {
        margin: 8px 0;
    }
    .cs__contact-sec {
        padding: 40px 0;
    }
    .cs__map-block {
        height: 35vh;
    }
}
@media (max-width:767.98px){
    .cs__contact-form .cs__input-wrap .cs__input-block {
        margin: 10px 0;
    }
    .cs__contact-info, .cs__contact-form{
        padding: 24px;
    }
    .cs__contact-form {
        padding-bottom: 24px;
    }
    .cs__contact-link {
        font-size: 18px;
        line-height: 26px;
    }
}
/* Responsive : Style End *?
/* Contact : Block End */


/* Award Block: Style Start */
.cs__award-wrap .cs__img-block img {
    max-width: 100%;
}
.cs__award-sec {
    padding: 30px 0;
}
.cs__award-wrap {
    padding: 0 24px;
}
/* Responsive : Style Start */
@media (max-width:1199.98px){
    .cs__award-wrap {
        padding: 0;
    }
}
@media (max-width:991.98px){
    .cs__award-sec {
        padding: 40px 0;
    }
}
/* Responsive : Style End */
/* Award Block: Style End */