main {
    padding: 100px 0 0;
}
.cs__blogdetails-topsec{
    background: linear-gradient(180deg, rgba(237, 99, 43, 0.19) 0%, rgba(237, 99, 43, 0) 100%);
    padding: 60px 0;
}
.cs__blog-tag span {
    background-color: var(--medium-black);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    padding: 8px 18px;
    text-transform: capitalize;
}
.cs__blog-footer {
    gap: 16px;
}
.cs__author {
    border-right: 1px solid #ECECEC;
    padding-right: 18px;
}
.cs__blog-footer p {
    color: #323232;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
.cs__blog-footer img {
    border-radius: 100%;
    margin-right: 8px;
}
.cs__blog-tag {
    gap: 10px;
}
.cs__blogdetails-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.cs__blogdetails-img {
    border-radius: 15px;
    border-left: 6px solid var(--orange);
    position: relative;
    width: 100%;
    height: 100%;
}
.cs__details-inner {
    padding: 30px;
    background: rgba(237, 99, 43, 0.12);
    border-left: 6px solid #ED632B;
    border-radius: 10px;
}
.custom-gap-20 {
    gap: 20px;
}
.cs__lowcode-sec{
    padding: 60px 0;
    background-color: #FEFAF9;
    margin: 60px 0;
}
.cs__lowcode-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 8px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    border-radius: 10px;
    height: 100%;
}
.cs__lowcode-inner h3 {
    font-size: 30px;
}
@media (min-width:991px){
    .custom-gap-30 {
        gap: 30px;
    }
}
@media (max-width:576.98px){
    .cs__benefits-lowcode{
        gap: 20px;
    }
}

/* Blog Details Second variation : Style Start */
.cs__left-block ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 15px 40px;
    gap: 18px;
    background: #222222;
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 100%;
    justify-content: space-between;
}
.cs__left-block ol li {
    list-style: number;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    line-height: 26px;
}
.cs__right-block {
    height: 100vh;
    overflow-y: scroll;
}
.cs__right-block::-webkit-scrollbar {
    display: none;
}
.cs__left-block ol li.active {
    color: var(--orange) !important;
}
.cs__lowcode-banifitlist{
    padding-left: 55px;
}
.cs__lowcode-banifitlist li{
    list-style-type: lower-alpha;
}
.cs__lowcode-v2sec .cs__lowcode-inner {
    border: 0;
    padding: 0;
}
.cs__platformcode-sec p:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
    border: 5px solid var(--medium-black);
    border-radius: 100px;
    left: 0;
    top: 10px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}
.cs__platformcode-sec p {
    padding-left: 35px;
}
/* Blog Details Second variation : Style End */