.cs__blogdetails-topsec{
    background: linear-gradient(180deg, rgba(237, 99, 43, 0.19) 0%, rgba(237, 99, 43, 0) 100%);
    padding: 60px 0;
}
.cs__blog-tag span {
    background-color: var(--medium-black);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 8px 18px;
}
.cs__blog-footer {
    gap: 16px;
}
.cs__author {
    border-right: 1px solid #ECECEC;
    padding-right: 18px;
}
.cs__blog-footer p {
    color: #323232;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
.cs__blog-footer img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-right: 8px;
}
.cs__blog-tag {
    gap: 10px;
}
.cs__blogdetails-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
.cs__blogdetails-img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    border-left: 6px solid var(--orange);
    width: 100%;
    height: 100%;
}
.cs__details-inner {
    padding: 30px;
    background: rgba(237, 99, 43, 0.12);
    border-left: 6px solid #ED632B;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.custom-gap-20 {
    gap: 20px;
}
.cs__lowcode-sec{
    padding: 60px 0;
    background-color: #FEFAF9;
    margin: 60px 0;
}
.cs__lowcode-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 8px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 100%;
}
.cs__lowcode-inner h3 {
    font-size: 30px;
}
.cs__lowcode-banifitlist-wrap p {
    background-color: var(--orange);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    line-height: 32px;
    height: 100%;
}
.cs__lowcodeapp-v1 .cs__lowcodeapp-block {
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    padding: 30px;
}
.cs__lowcodeapp-v1 .cs__lowcodeapp-block span {
    left: 24px;
    top: 28px;
}
.cs__teamup-sec.cs__teamup-v1 {
    padding: 60px 0 0;
}
.cs__teamup-bgimg {
    margin-top: -70px;
    z-index: -1;
}
.cs__microsoft-v1 .cs__microsoft-wrap .cs__microsoft-inner {
    padding: 10px 30px;
    background-color: rgba(237, 99, 43, 0.1);
    max-width: 91.44%;
}
.cs__microsoft-v1 .cs__microsoft-wrap > div:nth-child(odd) .cs__microsoft-inner{
    border-right: 0;
}
.cs__microsoft-v1 .cs__microsoft-wrap > div:nth-child(even) .cs__microsoft-inner{
    border-left: 0;
    text-align: right;
}
.cs__microsoft-v1 .cs__microsoft-wrap > div:nth-child(even) {
    display: flex;
    justify-content: flex-end;
}
.cs__teamup-sec.cs__teamup-twocol {
    padding: 60px 0;
}
.cs__teamupleft-block {
    border-right: 2px solid #4E4E4E;
    height: 100%;
    padding: 0 12px 0 0;
}

/* Blog Details Second variation : Style Start */
.cs__left-block ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 15px 40px;
    gap: 16px;
    background: #222222;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    height: 100%;
}
.cs__left-block ol li {
    list-style: number;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    line-height: 26px;
}
.cs__right-block {
    overflow-y: scroll;
    overflow-x: hidden;
}
.cs__right-block::-webkit-scrollbar {
    display: none;
}
.cs__left-block ol li.active {
    color: var(--orange) !important;
    font-weight: 600;
}
.cs__lowcode-banifitlist{
    padding-left: 55px;
}
.cs__lowcode-banifitlist li{
    list-style-type: lower-alpha;
}
.cs__lowcode-v2sec .cs__lowcode-inner {
    border: 0;
    padding: 0;
}
.cs__platformcode-sec p:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
    border: 6px solid var(--medium-black);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    left: 0;
    top: 11px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}
.cs__platformcode-sec p {
    padding-left: 32px;
}
.cs__teamup-sec {
    background-color: var(--medium-black);
    padding: 30px;
}
.cs__lowcodeapp-block span {
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: 600;
    font-size: 96px;
    line-height: 42px;
    color: #E6E6E6;
    z-index: -1;
}
.cs__microsoft-inner h4 {
    color: var(--orange);
    line-height: 42px;
}
.cs__microsoft-wrap .cs__microsoft-inner:nth-child(odd),
.cs__microsoft-wrap > div:nth-child(odd) .cs__microsoft-inner {
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
}
.cs__microsoft-wrap .cs__microsoft-inner {
    padding: 10px 30px;
}
.cs__microsoft-wrap .cs__microsoft-inner:nth-child(even),
.cs__microsoft-wrap > div:nth-child(even) .cs__microsoft-inner {
    border-right-width: 5px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
}
.cs__microsoft-sec img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
.cs__conclusion-block {
    padding: 30px;
    background: #FDE8DF;
    border: 4px solid #ED632B;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
.cs__conclusion-block .cs__img-block {
    background: #FDE8DF;
    border: 4px solid var(--orange);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    text-align: center;
    line-height: 114px;
    position: absolute;
    right: 36px;
    top: -57px;
    z-index: 0;
}
.cs__conclusion-block .cs__img-block img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 92px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.cs__blogdetails-topsec .cs__author {
    border-right: 2px solid #38414A;
}
.cs__conclusion-wrap {
    padding: 100px 0 60px;
}
.cs__microsoft-sec.cs__microsoft-v1 {
    padding: 60px 0;
}
.cs__lowcodeapp-sec.cs__lowcodeapp-v1 {
    padding: 60px 0 34px;
}
.cs__platformcode-wrap.cs__platformcode-v1 {
    padding: 0 0 36px;
}
.cs__teamup-sec.cs__teamup-dev {
    padding: 60px 0 36px;
}
.cs__development-sec {
    overflow: hidden;
}
/* Blog Details Second variation : Style End */