/* Hero Section: Style Start*/
.cs__hero-wrap {
    margin-bottom: 200px;
}

.cs__hero-sec {
    background-color: var(--orange);
    padding: 62px 0 0;
    z-index: 1;
    overflow: hidden;
}

.cs__hero-sec h2 {
    font-weight: 600;
}
.cs__hero-bottomsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}
/* Hero Section: Style End */

/* Reach Out : Style Start */
.cs__who-wrap p {
    max-width: 60%;
    margin: 0 auto;
}
.cs__who-wrap {
    padding: 26px 0 76px;
}

/* Reach Out : Style End */

/* Partner : Style Start */
.cs__partner-block {
    background-color: var(--medium-black);
    padding: 15px 0;
}
/* Partner : Style End */