footer {
    background-color: var(--orange);
    border-radius: 40px 40px 0 0;
    position: sticky;
    top: 100%;
}
.cs__footer-menu {
    padding: 60px 0;
}
.cs__copyright-sec {
    background-color: var(--medium-black);
}
.cs__copyright-sec p {
    font-size: 20px;
    padding: 16px 0;
}
.cs__footer-menu li a {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 36px;
}
.cs__footer-menu > div:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255,0.2);
}
.cs__footer-menu > div {
   padding-left: 26px;
}
.cs__footer-menu h6 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.cs__footer-menu li {
    padding: 5px 0;
}
.cs__copyright-sec p a {
    font-weight: 600;
}
.cs__footer-menu li a img {
    transition: all 0.5s ease;
}
.cs__footer-menu li a:hover img {
    transform: rotate(45deg);
}
/* Responsive : Style Start */
@media (min-width:768px){
   .cs__footer-menu .collapse:not(.show) {
        display: block;
    }
    .cs__footer-menu h6 {
        pointer-events: none;
    }
    .cs__footer-menu h6 img {
        display: none;
    }
}
@media (max-width:1199px){
    .cs__footer-menu > div {
        padding-left: 12px;
    }
}
@media (max-width: 991px){
    .cs__footer-menu > div:nth-child(2) {
        border-right: 0;
        border-bottom: 1px solid rgba(255, 255, 255,0.2);
    }
    .cs__footer-menu > div:first-child{
        border-bottom: 1px solid rgba(255, 255, 255,0.2);
    }
    .cs__footer-menu > div {
        padding: 20px;
    }
    .cs__footer-menu > div li:last-child {
        padding-bottom: 0;
    }
    .cs__footer-menu {
        padding: 32px 0;
    }
    .cs__copyright-sec p {
        font-size: 16px;
    }
    .cs__footer-menu h6 {
        font-size: 20px;
    }
    .cs__footer-menu li a {
        font-size: 16px;
        line-height: 30px;
    }
    .cs__footer-menu li {
        padding: 0px;
    }
}
@media (max-width: 767px){
    .cs__footer-menu > div:not(:last-child) {
        border-right: 0;
    }
    .cs__footer-menu > div:nth-child(3) {
        border-bottom: 1px solid rgba(255, 255, 255,0.2);
    }
    .cs__footer-menu {
        padding: 12px 0;
        margin: 0;
    }
    .cs__footer-menu h6 {
        font-size: 18px;
        margin: 0;
        padding: 20px 20px 14px;
    }
    .cs__footer-menu > div {
        padding: 0;
    }
    .cs__footer-menu ul {
        padding: 0 20px 16px;
    }
    .cs__footer-menu h6 img{
        transition: all 0.2s ease-in-out;
    }
    .cs__footer-menu h6[aria-expanded="true"] img {
        transform: rotate(181deg);
        transition: all 0.2s ease-in-out;
    }
    footer .container {
        padding: 0;
    }
}
/* Responsive : Style End */