.navbar-nav .nav-link {
    font-size: 16px;
    color: var(--medium-black);
    font-family: var(--secondary-font);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus{
    color: var(--orange);
}
.navbar-nav .nav-link.active{
    font-weight: 700;
}
.navbar-nav .nav-item {
    padding: 0 14px;
}
.dropdown-toggle::after {
    border: 0;
    background-image: url(../images/down-arrow.svg);
    background-size: 16px;
    width: 16px;
    height: 10px;
    vertical-align: middle;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    margin-left: 8px;
    position: relative;
    top: -1px;
}
.cs__open-dropdown+.navbar-nav .dropdown-toggle::after {
    transform: rotate(-180deg);
    filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(1233%) hue-rotate(344deg) brightness(96%) contrast(93%);
    transition: all 0.5s ease-in-out;
}
.navbar-toggler  .line {
    background-color: #2f3436;
    display: block;
    height: 2px;
    transition: .2s ease-in-out;
    width: 25px;
}
 .navbar-toggler {
    border: 0;
    padding: 0;
}
.navbar-toggler  .line:nth-child(2) {
    margin: 6px 0;
}
.navbar-toggler[aria-expanded="true"] .line:first-child {
    -moz-transform: rotate(45deg) translate(2px, 7px);
        -ms-transform: rotate(45deg) translate(2px, 7px);
        -webkit-transform: rotate(45deg) translate(2px, 7px);
        transform: rotate(45deg) translate(2px, 7px);
}
.navbar-toggler[aria-expanded="true"] .line:nth-child(2){
  opacity: 0;
}
.navbar-toggler[aria-expanded="true"] .line:last-child {
    -moz-transform: rotate(-45deg) translate(4px, -10px);
        -ms-transform: rotate(-45deg) translate(4px, -10px);
        -webkit-transform: rotate(-45deg) translate(4px, -10px);
        transform: rotate(-45deg) translate(4px, -10px);
}
.navbar-toggler:focus {
    box-shadow: unset;
}
.navbar{
    padding: 0;
}
/* Dropdown : Style Start*/
.dropdown-menu {
    width: 100%;
    right: 0;
    margin: 0 auto;
    top: 100%;
    display: flex !important;
    transform: translateY(25px);
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    border: 0;
}
.dropdown-menu:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 45px;
    left: 40%;
    right: auto;
    z-index: -35;
    top: -19px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.1) -6px -7px 16px -2px;
    border-radius: 6px;
    transform: rotate(45deg);
}
.dropdown-menu.cs__open-dropdown {
    transform: translateY(13px);
    transition: all 0.4s ease-in-out;
    opacity: 1;
    visibility: visible;
}
.dropdown-menu .nav-pills {
    background-color: #FCE8DF;
}
.cs__tech-list {
    max-width: 72%;
}
header .dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 30px 30px;
    color: var(--black) !important;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 16px;
}
.dropdown-menu .nav-item-title {
    text-align: left;
    padding: 40px 30px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
}
header .dropdown-menu button.active {
    background-color: #ffffff !important;
    font-weight: 700;
}
header .dropdown-menu .tab-content {
    padding: 30px 60px 41px;
    overflow: hidden;
    position: relative;
    height: 400px;
}
.dropdown-menu .tab-content p{
    max-width: 80%;
}
.dropdown-menu .tab-content p, .tab-content li {
    font-size: 20px;
    line-height: 32px;
}
.tab-content li {
    position: relative;
    padding: 0 0 0 26px;
    width: 100%;
}
.tab-content li a{
    color: var(--black);
    font-weight: 500;
}
.tab-content .cs__eng-list li{
    max-width: 31%;
    flex: 0 0 31%;
}
.dropdown-menu .tab-content p {
    margin-bottom: 18px;
}
.tab-content li:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #ffffff;
    border: 5px solid var(--orange);
    border-radius: 100px;
    left: 0;
    top: 8px;
}
.cs__tech-list h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.cs__scale-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}
.cs__scale-list li {
    grid-column: 1;
}
.cs__scale-list li:last-child {
    grid-column: 2;
    grid-row: 1 / span 5;
}
.tab-content ul {
    gap: 24px;
}
.cs__service-img {
    position: absolute;
    right: 0;
    bottom: 0px;
    top: auto;
    left: auto;
}
.cs__service-img img {
    opacity: 0.3;
}
.tab-content #pills-scale .cs__service-img {
    right: -120px;
    bottom: -32px;
}
.accordion-button:focus {
    box-shadow: unset;
    border: 0;
}
.accordion-button:not(.collapsed){
    color: var(--orange);
    background-color: transparent;
    box-shadow: unset;
}
/* Dropdown : Style End */
header .container{
    position: relative;
}
header {
    padding: 14px 0;
    font-family: var(--secondary-font);
    background-color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    -webkit-transition: background .3s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: background .3s cubic-bezier(.25, .46, .45, .94);
    transition: background .3s cubic-bezier(.25,.46,.45,.94);
    width: 100%;
    z-index: 10;
}
@keyframes slide-down {
    0% {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
}

.slide-down {
    animation: slide-down .7s;
    will-change: transform;
    z-index: 99
}

.slideOutUp {
    animation: slideOutUp .7s;
    will-change: transform
}

.cs__animated-header {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform
}
/* Responsive : Style Start */
@media (max-width:1440px){
    .navbar-nav .nav-item {
        padding: 0 4px;
    }
}
@media (max-width:1399px){
    /* Dropdown : Style Start */
    .cs__tech-list {
        max-width: 85%;
    }
    .tab-content ul {
        gap: 14px;
    }
    .tab-content p{
        font-size: 18px;
    }
    .tab-content li{
        font-size: 16px;
    }
    /* Dropdown : Style End */
}
@media (min-width:992px) and (max-width:1199px){
    .navbar-nav .nav-link{
        font-size: 14px;
    }
}
@media (max-width:1199px){
    .cs__header-btn .cs__fill-btn {
        font-size: 16px;
        line-height: 23px;
        padding: 6px 16px;
    }
    .dropdown-menu .nav-item-title {
        font-size: 23px;
    }
    header .dropdown-menu button{
        font-size: 18px;
    }
}
@media (max-width:991px){
    header {
        padding: 6px 0;
    }
    .dropdown-menu.cs__open-dropdown{
        display: none !important;
    }
    header .container{
        position: relative;
    }
     .navbar-toggler {
        position: absolute;
        left: 40px;
        top: 26px;
    }
    .cs__logo {
        padding-left: 45px;
    }
    .cs__menu-block {
        background-color: #fff;
        border: 1px solid #e9ebec;
        border-radius: 0;
        box-shadow: 0 8px 10px rgba(2, 32, 71, .1), 0 0 1px rgba(2, 32, 71, .08);
        left: 0;
        position: fixed;
        right: 0;
        top: 84px;
        transition: .5s ease-in-out;
        width: 100%;
        z-index: 99;
        padding: 20px 0;
        height: calc(100vh - 84px);
        overflow-y: auto;
        transform: translateX(-100%);
        visibility: hidden;
        display: block;
        opacity: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        right: 0px;
        top: 24px;
    }
    .navbar-nav .nav-item {
        padding: 6px 40px;
        border-bottom: 1px solid #f0f0f0;
    }
    .cs__menu-open .cs__menu-block {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: .5s ease-in-out;
    }
    body.cs__menu-open {
        overflow: hidden;
    }
    .cs__header-btn img{
        display: none;
    }
    .cs__header-btn .cs__fill-btn span {
        padding-right: 0;
    }
    /* accordion css start */
    .accordion-item button {
        padding: 4px 0;
        color: var(--medium-black);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        background-color: transparent;
    }
    .accordion-item {
        border-bottom: 1px solid rgba(0,0,0,.125) !important;
        border: 0;
        background-color: transparent;
    }
    .accordion-item:last-child {
        border-bottom: 0 !important;
    }
    .accordion-body {
        background-color: #FCE8DF;
        padding: 4px 16px;
        border-radius: 4px;
        margin: 0 0 16px;
    }
    .accordion-button:not(.collapsed)::after{
        filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(1233%) hue-rotate(344deg) brightness(96%) contrast(93%);
    }
    .accordion-body li {
        padding: 8px 0 8px 18px;
        position: relative;
    }
    .accordion-body li a {
        color: var(--medium-black);
        font-size: 15px;
        font-weight: 500;
    }
    .cs__tech-list h6 {
        font-size: 14px;
        margin: 0 0 4px;
    }
    .cs__tech-list > div:first-child {
        margin: 0 0 16px;
    }
    .accordion-body li:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: #ffffff;
        border: 3px solid var(--orange);
        border-radius: 100px;
        left: 0;
        top: 16px;
    }
    .accordion-button::after {
        background-image: url(../images/down-arrow.svg) !important;
        width: 16px;
        height: 10px;
        background-size: 16px;
    }
    /* accordion css end */
}
@media (max-width: 767px){
    .cs__logo img {
        max-width: 85%;
        object-fit: contain;
    }
    .cs__logo {
        max-width: 50%;
    }
    .cs__header-btn .cs__fill-btn {
        font-size: 14px;
        padding: 10px 14px;
    }
     .navbar-toggler {
        left: 20px;
    }
    .cs__menu-block {
        padding: 12px 0;
    }
    .navbar-nav .nav-item {
        padding: 6px 20px;
    }
}
@media (max-width:360px){
    .cs__header-btn .cs__fill-btn {
        font-size: 12px;
        padding: 6px 12px;
    }
}
/* Responsive : Style End */