/* Hero Section: Style Start*/
.cs__hero-wrap{
    position: relative;
    margin-bottom: 200px;
}
.cs__hero-sec {
    background-color: var(--orange);
    padding: 62px 0 0;
    z-index: 1;
    overflow: hidden;
}
.cs__hero-sec h2{
    font-weight: 600;
}
.cs__hero-bottomsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}

/* Hero Section: Style End */

/* Agency: Style Start */
.cs__agency-dec {
    background-size: 100%;
    background-position: 100% -5%;
    background-repeat: no-repeat;
    padding: 26px 0 80px;
    overflow: hidden;
}
/* Agency: Style End */

/* Featured Services: Style Start */
.cs__featured-services {
    background-color: var(--light-pink);
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
}
.cs__service-block p {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin: 12px 0 0;
}
.cs__service-block {
    padding: 32px 20px;
    border-bottom: 1px solid #E4D9D4;
}
.cs__service-block:nth-child(odd) {
    border-right: 1px solid #E4D9D4;
}
.cs__service-block:nth-last-child(-n+2) {
    border-bottom: 0;
}
/* Featured Services: Style End */

/* Portfolio Section: Style Start */
.cs__profile-sec {
    padding: 60px 0;
}
.cs__portfolio-tab .nav-tabs {
    border-bottom: 0;
}
.cs__portfolio-tab .nav-tabs .nav-link {
    border: 0;
    margin: 0;
}
.cs__portfolio-tab .nav-tabs {
    background-color: var(--medium-black);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 16px 26px;
}
.cs__portfolio-tab .nav-tabs .nav-link {
    background-color: transparent;
    font-size: 25px;
    font-weight: 400;
    color: var(--white);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 5px 50px;
    text-align: center;
}
.cs__portfolio-tab .nav-tabs .nav-link.active {
    background-color: var(--orange);
    font-weight: 600;
    color: var(--white);
}
.cs__portfolio-block img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.cs__portfolio-tab .tab-content {
    margin-top: 18px;
}
.cs__protfolio-inner {
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.cs__protfolio-inner:before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #222222 67.19%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(433px);
    visibility: hidden;
}
.cs__protfolio-inner:hover:before {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}
.cs__portfolio-tab .tab-content .row > div{
    margin: 12px 0;
}
.cs__portfolio-txt {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
    transform: translateY(45px);
    visibility: hidden;
    opacity: 0;
}
.cs__protfolio-inner:hover .cs__portfolio-txt {
    transform: translateY(-30px);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.cs__portfolio-txt h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.cs__portfolio-txt img{
    max-width: 40px;
}
.cs__portfolio-tab .tab-content .cs__fill-btn {
    margin: 18px 0 0;
}