/* Hero Section: Style Start*/
.cs__hero-wrap{
    position: relative;
    margin-bottom: 200px;
}
.cs__hero-sec {
    background-color: var(--orange);
    position: relative;
    padding: 62px 0 0;
}
.cs__hero-sec p {
    max-width: 93%;
}
.cs__hero-borromsec {
    position: absolute;
    bottom: -175px;
    width: 100%;
}
.swiper-pagination-vertical {
    right: 30px !important;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    height: 100% !important;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #F39B77;
    background-color: transparent;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ffffff;
    border-color: #ffffff;
}
.swiper-vertical>.swiper-wrapper {
    flex-direction: unset;
}
/* Responsive : Style Start */
@media (max-width:1199px){
    .cs__hero-borromsec {
        bottom: -108px;
    }
}
@media (max-width:767px){
    .cs__hero-borromsec {
        bottom: -62px;
    }
}
/* Responsive : Style End */
/* Hero Section: Style End */

/* Agency: Style End */
.cs__agency-dec {
    background-size: 100%;
    background-position: 100% -5%;
    background-repeat: no-repeat;
    padding: 0 0 60px;
}
.cs__details-block h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 56px;
    font-weight: 700;
    margin: 0 0 0 16px;
}
.cs__company-details p {
    font-size: 26px;
    font-weight: 600;
    margin: 8px 0 0;
}
.cs__company-details {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--medium-black);
    padding: 68px 0;
    position: relative;
}
.cs__company-details:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: #ed632b transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    left: 0;
    top: 0;
}
.cs__company-details:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #ED632B transparent;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
}
/* Responsive : Style End */
/* Responsive : Style End */
/* Agency: Style End */
/* Featured Services: Style End */
.cs__featured-services {
    background-color: var(--light-pink);
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
}
.cs__service-block p {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin: 12px 0 0;
}
/* Featured Services: Style End */