/* Hero Section: Style Start*/
.cs__hero-wrap{
    margin-bottom: 200px;
    background-color: var(--light-pink);
}
.cs__hero-sec {
    padding: 62px 0 60px;
    z-index: 2;
    overflow: hidden;
}
.cs__hexa-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.cs__hero-sec h2{
    font-weight: 600;
}
.cs__hero-sec p {
    line-height: 36px;
}
.cs__hero-borromsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}
/* Responsive : Style Start */
@media (min-width: 1950px){
    .cs__hero-borromsec {
        bottom: -255px;
    }
}
@media (max-width:1650px){
    .cs__hexa-img img {
        max-width: 95%;
    }
}
@media (max-width:1199.98px){
    .cs__hero-borromsec {
        bottom: -108px;
    }
    .cs__hero-wrap {
        margin-bottom: 140px;
    }
}
@media (max-width:991.98px){
    .cs__hero-wrap {
        margin-bottom: 32px;
    }
    .cs__hero-wrap .cs__img-block img {
        max-width: 450px;
    }
    .cs__hero-wrap .cs__img-block {
        text-align: center;
    }
    .cs__hero-sec h2{
        font-size: 32px;
        line-height: 40px;
    }
    .cs__hero-sec .row {
        flex-direction: column-reverse;
    }
    .cs__hexa-img img {
        max-width: 80%;
    }
    .cs__hexa-img {
        top: auto;
        bottom: 0;
    }
}
@media (max-width:767.98px){
    .cs__hexa-img img {
        max-width: 100%;
    }
    .cs__hero-borromsec {
        bottom: -62px;
    }
    .cs__hero-sec {
        padding: 30px 0 0;
    }
    .cs__hero-sec p {
        line-height: 26px;
    }
}
@media (max-width: 360.98px){
    .cs__hero-borromsec {
        bottom: -52px;
    }
}
/* Responsive : Style End */
/* Hero Section: Style End */

/* For Your Business : Style Start */
.cs__business-sec {
    border-bottom: 1.5px solid #DEDEDE;
    padding: 30px 0;
}
.cs__partner-block {
    background-color: var(--medium-black);
    padding: 15px 40px;
}
.cs__topimg-block {
    position: absolute;
    top: -315px;
    z-index: -1;
    left: 0;
    right: 0;
}
.cs__topimg-block img {
    opacity: 0.02;
}
.cs__business-details{
    overflow: hidden;
}
@media (max-width:991.98px){
    .cs__business-sec {
        padding: 100px 0 30px;
    }
    .cs__topimg-block {
        top: -10px;
    }
}
@media (max-width:767.98px){
    .cs__partner-block {
        padding: 15px 20px;
    }
    .cs__business-sec {
        padding: 70px 0 10px;
    }
}
/* For Your Business : Style End */

/* DevOps Consulting : Style Start */
.cs__consulting-sec {
    padding: 60px 0;
    overflow: hidden;
}
.cs__consulting-inner > div:nth-child(even) .cs__img-block{
    text-align: right;
}
.cs__consulting-inner > div:nth-child(even) .cs__img-block:before {
    left: auto;
    right: 0;
    transform: rotate(179deg);
}
.cs__consulting-desc h4 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
}
.cs__consulting-desc p {
    font-size: 22px;
    line-height: 40px;
}
.cs__consulting-desc .cs__service-no {
    position: absolute;
    left: 0;
    top: -150px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 267px;
    color: rgba(237, 99, 43, 0.12);
}
.cs__consulting-inner {
    padding: 100px 0 0;
}
.cs__consulting-inner > div {
    margin-bottom: 120px;
}
.cs__consulting-inner > div:last-child {
    margin-bottom: 0;
}
.cs__consulting-inner > div:nth-child(even) {
    flex-direction: row-reverse;
}
.cs__servicebg-img {
    position: absolute;
    right: 0;
    top: 70px;
    opacity: 0.5;
}
.cs__bg-images {
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.cs__consulting-inner > div:nth-child(even)  .cs__bg-images {
    background-image: url(../images/onsulting-servive-bg-left.png);
    background-position: center right;
}
.cs__consulting-inner > div:nth-child(odd)  .cs__bg-images {
    background-image: url(../images/onsulting-servive-bg-right.png);
    background-position: center left;
}
/* Responsive css start */
@media (max-width: 991.98px){
    .cs__consulting-inner > div {
        margin-bottom: 40px;
    }
    .cs__consulting-desc {
        margin: 26px 0 0;
    }
    .cs__consulting-inner {
        padding: 40px 0;
    }
    .cs__consulting-sec {
        padding: 40px 0 0;
    }
    .cs__consulting-desc .cs__service-no {
        top: -125px;
        font-size: 150px;
    }
    .cs__consulting-inner > div:nth-child(odd)  .cs__bg-images {
        background-position: 5% 100%;
    }
    .cs__consulting-inner > div:nth-child(even)  .cs__bg-images {
        background-position: 95% 100%;
    }
}
@media (max-width:767.98px){
    .cs__consulting-desc p {
        font-size: 16px;
        line-height: 26px;
    }
}
/* Responsive css end */
/* DevOps Consulting : Style End */
/* Our DevOps Solutions: Style Start */
.cs__soluation-sec .cs__title-block {
    background-color: var(--medium-black);
    padding: 22px 40px;
    margin: 0 0 40px;
}
.cs__soluation-sec .cs__title-block h2 {
    margin: 0;
}
.cs__soluation-inner {
    padding: 10px 30px;
    background: rgba(237, 99, 43, 0.1);
    max-width: 91.44%;
}
.cs__soluation-inner:before {
    content: '';
    position: absolute;
    top: 50%;
    background-image: url(../images/cloud-services.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.05;
    transform: translateY(-50%);
    background-size: 42%;
}
.cs__soluation-block:nth-child(odd) .cs__soluation-inner:before{
    left: auto;
    right: 0;
    background-position: right;
}
.cs__soluation-block:nth-child(even) .cs__soluation-inner:before{
    right: auto;
    left: 0;
    background-position: left;
}
.cs__soluation-block:nth-child(even) .container{
    display: flex;
    justify-content: flex-end;
}
.cs__soluation-inner h4 {
    color: var(--orange);
}
.cs__soluation-inner p {
    font-size: 22px;
    line-height: 44px;
    margin-bottom: 0;
}
.cs__soluation-block:nth-child(odd) .cs__soluation-inner {
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
}
.cs__soluation-block:nth-child(even) .cs__soluation-inner {
    border-right-width: 5px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    text-align: right;
}
.cs__soluation-block{
    margin: 20px 0;
}
.cs__soluation-sec {
    overflow: hidden;
}
.cs__soluation-block:before {
    content: '';
    position: absolute;
    background-image: url(../images/service-dot.png);
    background-repeat: no-repeat;
    width: 191px;
    height: 191px;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
}
.cs__soluation-block:nth-child(odd):before{
    right: -95px;
    left: auto;
}
.cs__soluation-block:nth-child(even):before{
    left: -95px;
    right: auto;
}
.cs__soluation-bottomsec {
    background-color: var(--medium-black);
    padding: 30px 0;
    margin: 40px 0 0;
}
.cs__soluation-bottomsec p {
    font-size: 36px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 26px;
}
/* Responsive css start */
@media (max-width:991.98px){
    .cs__soluation-block:nth-child(odd):before {
        right: -120px;
    }
    .cs__soluation-block:nth-child(even):before {
        left: -120px;
    }
    .cs__soluation-sec .cs__title-block {
        margin: 0 0 20px;
      
    }
}
@media (max-width: 767.98px){
    .cs__soluation-inner:before{
        background-size: 100%;
    }
    .cs__soluation-block:before{
        content: none;
    }
    .cs__soluation-inner p {
        font-size: 16px;
        line-height: 26px;
    }
    .cs__soluation-inner h4,.cs__consulting-desc h4 {
        font-size: 26px;
        line-height: 32px;
    }
    .cs__soluation-inner{
        max-width: 100%;
        padding: 10px 24px;
    }
    .cs__soluation-block:nth-child(even) .cs__soluation-inner {
        border-left-width: 5px;
        border-left-style: solid;
        border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        text-align: left;
        border-right: 0;
    }
    .cs__soluation-block {
        margin: 10px 0;
    }
    .cs__soluation-sec .cs__title-block {
        margin: 0 0 30px;
        padding: 20px;
    }
    .cs__soluation-bottomsec p {
        font-size: 24px;
        line-height: 36px;
    }
    .cs__soluation-bottomsec {
        margin: 30px 0 0;
    }
    .cs__consulting-desc .cs__service-no {
        font-size: 100px;
        top: -37px;
        line-height: 100px;
    }
}
/* Responsive css end */
/* Our DevOps Solutions: Style End */

/* testimonial Section: Style Start */
.cs__testimonial-slider {
    padding: 70px 11px 55px;
}
.cs__testimonial-sec {
    background-color: var(--light-pink);
    padding: 60px 0;
}
.cs__testimonial-inner H3 {
    font-size: 24px;
    line-height: 32px;
}
.cs__testimonial-inner {box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 0px;border-radius: 20px;padding: 20px 30px 78px;background-color: #ffffff;height: 100%;}
.cs__client-img {
    border: 4px solid #ED632B;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    text-align: center;
    margin: -75px auto 0;
    background-color: #fadbcf;
}
.cs__client-img img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cs__rating-block {
    margin: 8px 0;
}
.cs__testimonial-inner p {
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 16px;
}
.cs__client-info {
    background-color: var(--orange);
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 23px 16px;
}
.cs__client-info h6 {
    font-size: 22px;
    text-align: left;
    max-width: 50%;
}
.cs__client-info p {
    margin-bottom: 0;
}
.cs__testimonial-sec .swiper-button-next {
    right: -45px;
}
.cs__testimonial-sec .swiper-button-prev {
    left: -45px;
}
.cs__testimonial-sec .swiper-button-next,.cs__testimonial-sec  .swiper-button-prev {
    background-color: var(--medium-black);
    width: 44px;
    height: 44px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    top: 67%;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}
.cs__testimonial-sec .swiper-button-next:hover,.cs__testimonial-sec  .swiper-button-prev:hover{
    background-color: var(--orange);
    transition: all 0.2s ease-in-out;
}
.cs__testimonial-sec .swiper-button-next:after, .cs__testimonial-sec .swiper-button-prev:after {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.cs__testimonial-sec .swiper-slide {
    height: auto;
}
.cs__testimonial-sec .swiper-paginationtest {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0 !important;
    position: absolute;
    text-align: center;
}
.cs__testimonial-sec .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #F7BEA7;
    opacity: 1 !important;
    z-index: 1;
    position: relative;
}
.cs__testimonial-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--orange);
    border-color: var(--orange);
}
.cs__client-info span {
    padding-left: 5px;
    text-align: left;
}
/* Responsive: Style Start */
@media (max-width:1650.98px){
    .cs__testimonial-sec .swiper-button-next {
        right: -28px;
    }
    .cs__testimonial-sec .swiper-button-prev {
        left: -28px;
    }
}
@media (max-width:1399.98px){
    .cs__testimonial-inner {
        padding: 20px 20px 78px;
    }
}
@media (max-width: 1250.98px){
    .cs__testimonial-sec .swiper-button-next {
        right: -20px;
    }
    .cs__testimonial-sec .swiper-button-prev {
        left: -20px;
    }
    .cs__testimonial-slider {
        padding: 70px 25px 45px;
    }
}
@media (max-width: 991.98px){
    .cs__testimonial-inner {
        padding: 20px 10px 115px;
    }
    .cs__testimonial-sec .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .cs__testimonial-sec{
        padding: 40px 0;
    }
    .cs__testimonial-inner p {
        margin: 0 0 12px;
    }
    .cs__testimonial-inner H3 {
        font-size: 20px;
        line-height: 25px;
    }
}
@media (min-width: 767.98px) and (max-width: 991.98px){
    .cs__client-info {
        flex-wrap: wrap;
        justify-content: center !IMPORTANT;
    }
    .cs__client-info h6 {
        text-align: center;
        width: 100%;
        margin: 0 0 4px !important;
        max-width: 100%;
    }
}
@media (max-width: 767.98px){
    .cs__testimonial-slider {
        padding: 70px 0 45px;
    }
    .cs__client-img {
        width: 100px;
        height: 100px;
    }
    .cs__testimonial-inner p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 12px;
    }
    .cs__client-info h6 {
        font-size: 20px;
    }
    .cs__testimonial-inner {
        padding: 20px 10px 75px;
    }
}
@media (max-width:360.98px){
    .cs__testimonial-inner {
        padding: 20px 10px 140px;
    }
}
/* Responsive: Style End */
/* testimonial Section: Style End */

/* FAQ Section: Style Start */
.cs__faq-sec {
    padding: 60px 0 70px;
}
.cs__faq-sec .accordion {
    padding: 32px 0 0;
}
.cs__faq-sec .accordion-button {
    padding: 18px 0;
}
.cs__faq-sec .accordion-button h6 {
    padding-right: 12px;
    height: auto;
    color: var(--black);
    font-size: 24px;
    line-height: 36px;
    text-transform: unset;
    margin-bottom: 0;
    font-weight: 400;
}
.cs__faq-sec .accordion-button::after {
    background-image: url(../images/plus.svg);
    width: 32px;
    height: 32px;
    background-size: 32px;
    transition: all 0.2s ease-in-out;
}
.cs__faq-sec .accordion-button:not(.collapsed)::after{
    transform: unset;
    background-image: url(../images/close.svg);
    transition: all 0.2s ease-in-out;
}
.cs__faq-sec .accordion-body p {
    font-size: 22px;
    line-height: 44px;
}
.cs__faq-sec .accordion-body {
    padding: 0;
    background-color: transparent;
}
.cs__faq-sec .accordion-item {
    background-color: #fff;
    border-bottom: 1px solid #C2C2C2;
}
.cs__faq-sec .accordion-button[aria-expanded="true"] h6 {
    color: var(--orange);
    font-weight: 600;
}
.cs__faq-sec .accordion-button:not(.collapsed) {
    padding-bottom: 10px !important;
}

/* Responsive css start */
@media (max-width:991.98px){
    .cs__faq-sec .accordion-button::after {
        width: 26px;
        height: 26px;
        background-size: 26px;
        top: 37px;
    }
    .cs__faq-sec{
        padding: 40px 0;
    }
    .cs__faq-sec .accordion-body p {
        font-size: 20px;
        line-height: 40px;
    }
}
@media (max-width:767.98px){
    .cs__faq-sec .accordion {
        padding: 12px 0 0;
    }
    .cs__faq-sec .accordion-body p {
        font-size: 16px;
        line-height: 26px;
    }
    .cs__faq-sec .accordion-button h6{
        font-size: 20px;
        line-height: 30px;
    }
}

/* Responsive css end */
/* FAQ Section: Style End */