/* Hero Section: Style Start*/
.cs__hero-wrap{
    margin-bottom: 200px;
    background-color: var(--light-pink);
}
.cs__hero-sec {
    padding: 62px 0 60px;
    z-index: 2;
    overflow: hidden;
}
.cs__hexa-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.cs__hero-sec h2{
    font-weight: 600;
}
.cs__hero-sec p {
    line-height: 36px;
}
.cs__hero-bottomsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}

/* Hero Section: Style End */

/* For Your Business : Style Start */
.cs__business-sec {
    border-bottom: 1.5px solid #DEDEDE;
    padding: 30px 0;
}
.cs__partner-block {
    background-color: var(--medium-black);
    padding: 15px 40px;
}
.cs__topimg-block {
    position: absolute;
    top: -315px;
    z-index: -1;
    left: 0;
    right: 0;
}
.cs__topimg-block img {
    opacity: 0.02;
}
.cs__business-details{
    overflow: hidden;
}
/* For Your Business : Style End */

/* DevOps Consulting : Style Start */
.cs__consulting-sec {
    padding: 60px 0;
    overflow: hidden;
}
.cs__consulting-inner > div:nth-child(even) .cs__img-block{
    text-align: right;
}
.cs__consulting-inner > div:nth-child(even) .cs__img-block:before {
    left: auto;
    right: 0;
    transform: rotate(179deg);
}
.cs__consulting-desc h4 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
}
.cs__consulting-desc p {
    font-size: 22px;
    line-height: 40px;
}
.cs__consulting-desc .cs__service-no {
    position: absolute;
    left: 0;
    top: -150px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 267px;
    color: rgba(237, 99, 43, 0.12);
}
.cs__consulting-inner {
    padding: 100px 0 0;
}
.cs__consulting-inner > div {
    margin-bottom: 120px;
}
.cs__consulting-inner > div:last-child {
    margin-bottom: 0;
}
.cs__consulting-inner > div:nth-child(even) {
    flex-direction: row-reverse;
}
.cs__servicebg-img {
    position: absolute;
    right: 0;
    top: 70px;
    opacity: 0.5;
}
.cs__bg-images {
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.cs__consulting-inner > div:nth-child(even)  .cs__bg-images {
    background-image: url(../images/onsulting-servive-bg-left.png);
    background-position: center right;
}
.cs__consulting-inner > div:nth-child(odd)  .cs__bg-images {
    background-image: url(../images/onsulting-servive-bg-right.png);
    background-position: center left;
}

/* DevOps Consulting : Style End */
/* Our DevOps Solutions: Style Start */
.cs__soluation-sec .cs__title-block {
    background-color: var(--medium-black);
    padding: 22px 40px;
    margin: 0 0 40px;
}
.cs__soluation-sec .cs__title-block h2 {
    margin: 0;
}
.cs__soluation-inner {
    padding: 10px 30px;
    background: rgba(237, 99, 43, 0.1);
    max-width: 91.44%;
}
.cs__soluation-inner:before {
    content: '';
    position: absolute;
    top: 50%;
    background-image: url(../images/cloud-services.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.05;
    transform: translateY(-50%);
    background-size: 42%;
}
.cs__soluation-block:nth-child(odd) .cs__soluation-inner:before{
    left: auto;
    right: 0;
    background-position: right;
}
.cs__soluation-block:nth-child(even) .cs__soluation-inner:before{
    right: auto;
    left: 0;
    background-position: left;
}
.cs__soluation-block:nth-child(even) .container{
    display: flex;
    justify-content: flex-end;
}
.cs__soluation-inner h4 {
    color: var(--orange);
}
.cs__soluation-inner p {
    font-size: 22px;
    line-height: 44px;
    margin-bottom: 0;
}
.cs__soluation-block:nth-child(odd) .cs__soluation-inner {
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
}
.cs__soluation-block:nth-child(even) .cs__soluation-inner {
    border-right-width: 5px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    text-align: right;
}
.cs__soluation-block{
    margin: 20px 0;
}
.cs__soluation-sec {
    overflow: hidden;
}
.cs__soluation-block:before {
    content: '';
    position: absolute;
    background-image: url(../images/service-dot.png);
    background-repeat: no-repeat;
    width: 191px;
    height: 191px;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
}
.cs__soluation-block:nth-child(odd):before{
    right: -95px;
    left: auto;
}
.cs__soluation-block:nth-child(even):before{
    left: -95px;
    right: auto;
}
.cs__soluation-bottomsec {
    background-color: var(--medium-black);
    padding: 30px 0;
    margin: 40px 0 0;
}
.cs__soluation-bottomsec p {
    font-size: 36px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 26px;
}

/* Our DevOps Solutions: Style End */

/* FAQ Section: Style Start */
.cs__faq-sec {
    padding: 60px 0 70px;
}
.cs__faq-sec .accordion {
    padding: 32px 0 0;
}
.cs__faq-sec .accordion-button {
    padding: 18px 0;
}
.cs__faq-sec .accordion-button h6 {
    padding-right: 12px;
    height: auto;
    color: var(--black);
    font-size: 24px;
    line-height: 36px;
    text-transform: unset;
    margin-bottom: 0;
    font-weight: 400;
}
.cs__faq-sec .accordion-button::after {
    background-image: url(../images/plus.svg);
    width: 32px;
    height: 32px;
    background-size: 32px;
    transition: all 0.2s ease-in-out;
}
.cs__faq-sec .accordion-button:not(.collapsed)::after{
    transform: unset;
    background-image: url(../images/close.svg);
    transition: all 0.2s ease-in-out;
}
.cs__faq-sec .accordion-body p,
.cs__faq-sec .accordion-body li {
    font-size: 22px;
    line-height: 44px;
}
.cs__faq-sec .accordion-body {
    padding: 0;
    background-color: transparent;
}
.cs__faq-sec .accordion-item {
    background-color: #fff;
    border-bottom: 1px solid #C2C2C2;
}
.cs__faq-sec .accordion-button[aria-expanded="true"] h6 {
    color: var(--orange);
    font-weight: 600;
}
.cs__faq-sec .accordion-button:not(.collapsed) {
    padding-bottom: 10px !important;
}
.cs__faq-sec .accordion-body li {
    list-style: disc;
}
.cs__business-details p {
    column-count: 2;
}

/* FAQ Section: Style End */