/* Common: Style start */
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-weight: 400;
    background-color: var(--white);
    font-family: var(--primary-font);
    height: 100vh;
    color: var(--medium-black);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ED632B;
    border-radius: 10px;
}

:root {
    --white: #ffffff;
    --orange: #ED632B;
    --medium-black: #222222;
    --black: #000000;
    --gray: #B4B4B4;
    --navy-blue: #000080;
    --blue: #0B69C7;
    --pink: #FF3777;
    --light-pink: #FDF1EC;
    --skyblue: #03A9F4;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
}

.h2,
h2,
.h1,
h1 {
    font-weight: 700;
    color: var(--medium-black);
}

.h3,
h3 {
    font-weight: 600;
}

.h4,
h4 {
    font-weight: 600;
}

.h5,
h5 {
    font-weight: 600;
}
li {
    list-style: none;
}

a {
    text-decoration: unset;
}

ol,
ul {
    padding-left: 0;
    margin: 0;
}

main {
    padding: 100px 0 0;
}