/* Hero Section: Style Start*/
.cs__hero-wrap {
    position: relative;
    background: linear-gradient(180deg, rgba(237, 99, 43, 0.19) 0%, rgba(237, 99, 43, 0) 100%);
}
.cs__hero-sec {
    position: relative;
    padding: 62px 0 60px;
    z-index: 2;
    overflow: hidden;
}
.cs__hero-sec h2{
    font-weight: 600;
}
.cs__hero-sec p {
    line-height: 36px;
}
.cs__hero-bottomsec {
    position: absolute;
    bottom: -195px;
    width: 100%;
}

/* Hero Section: Style End */
/* Service Block : Style Start */
.cs__service-block {
    padding: 30px;
    background: rgba(237, 99, 43, 0.1);
    border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #ed632b, #ffffff) 1;
}
.cs__service-block p {
    color: var(--black);
    font-size: 22px;
    line-height: 44px;
    font-weight: 600;
}
.cs__service-block h4 {
    color: var(--orange);
}

/* Service Block : Style End */

/* For Your Business : Style Start */
.cs__business-sec {
    position: relative;
    border-bottom: 1.5px solid #DEDEDE;
    padding: 36px 0 60px;
    overflow: hidden;
}
.cs__partner-block {
    background-color: var(--medium-black);
    padding: 15px 40px;
}
.cs__topimg-block {
    position: absolute;
    top: -315px;
    z-index: -1;
    left: 0;
    right: 0;
}
.cs__topimg-block img {
    opacity: 0.02;
}
.cs__business-details{
    overflow: hidden;
}
.cs__business-sec:before, .cs__business-sec:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 160px 240px 160px;
    border-color: transparent transparent rgba(237, 99, 43, 0.05) transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: -95px;
}
.cs__business-sec:after {
    top: 50px;
    right: -95px;
    left: auto;
    bottom: auto;
}

/* For Your Business : Style End */
/* DevOps Consulting : Style Start */
.cs__consulting-desc p.cs__titlesub-text {
    padding: 0;
}
.cs__consulting-desc p.cs__titlesub-text:before {
    content: none;
}
.cs__consulting-sec {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}
.cs__consulting-inner > div:nth-child(odd) .cs__img-block{
    text-align: right;
}
.cs__consulting-inner .cs__img-block{
    position: relative;
    height: 500px;
    width: 100%;
}
.cs__consulting-desc h4 {
    font-size: 34px;
    font-weight: 700;
    line-height: 56px;
}
.cs__consulting-desc p {
    font-size: 22px;
    line-height: 40px;
    position: relative;
    padding: 0 0 0 30px;
}
.cs__consulting-desc p:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #ffffff;
    border: 5px solid var(--medium-black);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    left: 0;
    top: 11px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}
.cs__consulting-desc {
    position: relative;
}
.cs__consulting-desc .cs__service-no {
    position: absolute;
    left: 0;
    top: -150px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 267px;
    color: rgba(237, 99, 43, 0.12);
}
.cs__consulting-inner > div {
    margin: 0 0 80px;
    position: relative;
}
.cs__consulting-inner > div:last-child {
    margin-bottom: 0;
}
.cs__consulting-inner > div:nth-child(odd) {
    flex-direction: row-reverse;
}
.cs__servicebg-img {
    position: absolute;
    right: 0;
    top: 70px;
    opacity: 0.5;
}
.cs__consulting-inner .cs__img-block img {
    max-width: 450px;
    object-fit: contain;
}
.cs__bg-images {
    height: 100%;
    z-index: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.cs__consulting-inner > div:nth-child(odd)  .cs__bg-images{
    background-image: url(../images/onsulting-servive-bg-left.png);
    background-position: center right;
}
.cs__consulting-inner > div:nth-child(even)  .cs__bg-images{
    background-image: url(../images/onsulting-servive-bg-right.png);
    background-position: center left;
}

/* DevOps Consulting : Style End */
/* Soluation Block : Style Start */
.cs__solution-sec {
    background-color: var(--medium-black);
    padding: 60px 0;
    position: relative;
}
.cs__solution-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.15 !important;
}

/* Soluation Block : Style End */
/* Result Block : Style Start */
.cs__result-sec {
    padding: 60px 0;
    overflow: hidden;
}
.cs__result-sec .cs__img-block{
    position: relative;
}
.cs__result-sec .cs__bg-images {
    height: 100%;
    z-index: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/onsulting-servive-bg-left.png);
    background-position: center right;
}
.cs__result-sec .cs__img-block img {
    max-width: 450px;
}

/* Result Block : Style End */
/* Project Section: Style Start */
.cs__project-sec {
    background-color: var(--medium-black);
    padding: 30px 0;
    margin: 0 0 60px;
}
.cs__project-sec p {
    font-size: 30px;
    line-height: 48px;
    font-weight: 500;
    margin: 26px 0;
}
.cs__aboutcolum-content p{
    column-count: 2;
}

/* Project Section: Style End */
/* Portfolio Section: Style Start */

.cs__portfolio-block img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.cs__protfolio-inner {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    display: inline-block;
}
.cs__protfolio-inner:before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #222222 67.19%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(433px);
    visibility: hidden;
}
.cs__protfolio-inner:hover:before {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}
.cs__portfolio-tab .tab-content .row > div{
    margin: 12px 0;
}
.cs__portfolio-txt {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
    transform: translateY(45px);
    visibility: hidden;
    opacity: 0;
}
.cs__protfolio-inner:hover .cs__portfolio-txt {
    transform: translateY(-30px);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.cs__portfolio-txt h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.cs__portfolio-txt img{
    max-width: 40px;
}
.cs__portfolio-tab > div {
    margin: 12px 0;
}
.cs__profile-sec{
    padding: 0 0 48px;
}
/* Portfolio Section: Style End */